@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */

body {
  background-color: #f5f5f5;
  user-select: none;
  /* user-select  
  if don't put this one, the text will has the flash  */
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

@layer base {
  @font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

    font-weight: 400; /*not too sure how to make the bold one*/
    font-style: normal;
  }
}

html {
  font-size: 12px;
}

/* Small devices (landscape phones, 440px and up) */
@media (min-width: 440px) {
  html {
    font-size: 13px;
  }
}

/* Medium devices (tablets, 640px and up) */
@media (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

/* Large devices (desktops, 991px and up) */
@media (min-width: 991px) {
  html {
    font-size: 15px;
  }
}

/* X-Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

/* XX-Large devices (larger desktops, 1480px and up) */
@media (min-width: 1480px) {
  html {
    font-size: 17px;
  }
}

/* XX-Large devices (larger desktops, 1480px and up) */
@media (min-width: 1680px) {
  html {
    font-size: 18px;
  }
}

/* XX-Large devices (larger desktops, 1480px and up) */
@media (min-width: 1880px) {
  html {
    font-size: 20px;
  }
}
