@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */


body {
  background-color: #F5F5F5;
  user-select: none;
}

@layer base{
  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap') ;

    font-weight:400;  /*not too sure how to make the bold one*/
    font-style:normal;
  }
}